{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_cielo/transparentcheckout

    The content to display when editing a tool.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * rows An array of objects with label, hidelabel, text and id

    Example context (json):
    {
        "rows": [
            {
                "label": "Tool URL",
                "text": "http://example.com/",
                "id": "toolurl",
                "hidelabel": false
            },
            {
                "label": "Secret",
                "text": "ABCDEF1234567890",
                "id": "secret",
                "hidelabel": true
            }
        ]
    }
}}

<div align="center">
	<p>{{requestPayment}}</p>
	<button type="button" id="cielo-payment-btn" class="btn btn-primary" data-coupon-code="" data-toggle="modal" data-target="#cieloModal"
	style="border-radius:15px;box-shadow:0 1px 3px #666666;color:#ffffff;font-size:20px;padding:10px 20px;text-decoration:none;">
	  {{buttonString}}
	</button>
	<br /><br /><br />
	<span id="session"></span>
	<span id="return"></span>
</div>


<!-- Modal -->
<div class="modal fade" id="cieloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="exampleModalLabel">{{instanceId}} - {{instanceName}}</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div id="modal-return" class="modal-body">
	  	<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#CREDIT_CARD" aria-controls="CREDIT_CARD">Cartão de Crédito</a></li>
<!--	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#BOLETO" aria-controls="BOLETO">Boleto</a></li>	-->
</ul>
<div class="tab-content">
	<div id="CREDIT_CARD" class="tab-pane fade show active" role="tabpanel" aria-labelledby="CREDIT_CARD" >
		<form id="cielo_cc_form" action="cielo/tr_process.php" method="POST">
			<br />
			<div class="form-group">
				<div class="col-xs-12 col-xl-12 error" id="ccName-error"></div>
				<label  for="ccbrand">Nome no Cartão:</label>
				<input id="ccbrand" type="radio" name="ccbrand" value="Visa">
				<input id="ccbrand" type="radio" name="ccbrand" value="Mastercard">
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-xl-12 error" id="ccName-error"></div>
				<label  for="ccholdername">Nome no Cartão:</label>
				<input id="ccName" class="form-control" type="text" name="ccholdername" value="{{ fullname }}"  />
			</div>
			<div class="form-group">
			    <div class="col-xs-12 col-xl-12 error" id="ccNumber-error"></div>
				<label for="ccnumber">Número Cartão</label>
				<input id="ccNumber" class="form-control input-ccnumber" type="text" name="ccnumber" />
				<span id="cardbrand"></span>
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error" id="ccvalid-error"></div>
				<div class="col-xs-12 col-xl-12 error" id="cvv-error"></div>
				<label class="col-sm-2 col-form-label" for="ccvalid">Validade:</label>
				<div class="col-sm-4">
					<input id="ccvalid" class="form-control input-ccvalid" type="text" name="ccvalid" />
				</div>
				<label class="col-sm-2 col-form-label" for="cvv">CVV:</label>
				<div class="col-sm-4">
					<input id="cvv" class="form-control input-cvv" type="text" name="cvv" />
				</div>
			</div>
			<div id="card-installments" class="form-group">
			    <label class="col-sm-2 col-form-label" for="ccinstallments">Parcelas:</label>
				<div class="col-sm-4">
					<input id="ccinstallments" class="form-control input-cvv" type="text" name="ccinstallments" />
				</div>
				
			</div>
			<br />
			<hr />
			<br />
			<div class="form-group row">
				<span class="btn btn-primary" id="cc_submit" type="submit"> Pagar </span>
			</div>

			<input type="hidden" name="pay_method" value="cc">
			<input type="hidden" name="courseid" id="cc_courseid" value="">
			<input type="hidden" name="cc_couponcode" id="cc_couponcode" value="{{ couponcode }}">
		</form>
		
	</div>
<!--	<div id="BOLETO" class="tab-pane fade" role="tabpanel" aria-labelledby="BOLETO" >-->
<!--		<form id="cielo_boleto_form" action="cielo/tr_process.php" method="POST">-->
<!--			<br />-->
<!--			<br />-->
<!--			<div class="form-group">-->
<!--				<div class="col-xs-12 col-xl-12 error" id="boleto_nome-error"></div>-->
<!--				<label for="sendername">Nome Completo:</label>-->
<!--				<input placeholder="Nome completo" id="boleto_nome" class="form-control" type="text" name="sendername" value="{{ fullname }}" />-->
<!--			</div>-->
<!--			<div class="form-group row">-->
<!--				<div class="col-xs-12 col-xl-12 error" id="boleto_email-error"></div>-->
<!--				<label class="col-sm-2 col-form-label" for="senderemail">Email:</label>-->
<!--				<div class="col-sm-10">-->
<!--					<input placeholder="Email" id="boleto_email" class="form-control" type="email" name="senderemail" value="{{ email }}" />-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="form-group row">-->
<!--				<div class="col-xs-12 col-xl-12 error" id="boleto_phone-error"></div>-->
<!--				<div class="col-xs-12 col-xl-12 error" id="boleto_doc-error"></div>-->
<!--				<label class="col-sm-2 col-form-label" for="senderphonenumber">Telefone:</label>-->
<!--				<div class="col-sm-4">-->
<!--					<input placeholder="(00) 9999-9999" id="boleto_phone" class="form-control input-phone" type="text" name="senderphonenumber" />-->
<!--				</div>-->
<!--				<label class="col-sm-2 col-form-label" for="sendercpfcnpj">CPF/CNPJ:</label>-->
<!--				<div class="col-sm-4">-->
<!--					<input placeholder="000.000.000-00" id="boleto_doc" class="form-control input-cpfcnpj" type="text" name="sendercpfcnpj" />-->
<!--				</div>-->
<!--			</div>-->
<!--			<hr />-->
<!--			<div class="form-group row">-->
<!--				<button class="btn btn-primary" type="submit">Pagar</button>-->
<!--			</div>-->
<!--			<input type="hidden" name="pay_method" value="boleto">-->
<!--			<input type="hidden" name="sender_hash" value="">-->
<!--			<input type="hidden" name="boleto_couponcode" id="boleto_couponcode" value="{{ couponcode }}">-->
<!--			<input id="boleto_courseid" type="hidden" name="courseid" value="">-->
<!--		</form>-->
<!--	</div>-->
</div>
	  </div>
<!--  <div class="modal-footer">
//		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
//		<button type="button" class="btn btn-primary">Save changes</button>
//	  </div> -->
	</div>
  </div>
</div>
