{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_cielo/transparentcheckout

    The content to display when editing a tool.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * rows An array of objects with label, hidelabel, text and id

    Example context (json):
    {
        "rows": [
            {
                "label": "Tool URL",
                "text": "http://example.com/",
                "id": "toolurl",
                "hidelabel": false
            },
            {
                "label": "Secret",
                "text": "ABCDEF1234567890",
                "id": "secret",
                "hidelabel": true
            }
        ]
    }
}}

<div align="center">
	<p>{{requestpayment}}<span class="cp-cost">{{requestpaymentcost}}</span>{{requestpaymentp2}}</p>
	<button type="button" id="cielo-payment-btn{{instanceid}}" class="btn btn-primary cielo-payment-btn" data-coupon-code="" data-toggle="modal" data-target="#cieloModal{{instanceid}}"
	style="border-radius:15px;box-shadow:0 1px 3px #666666;color:#ffffff;font-size:20px;padding:10px 20px;text-decoration:none;">
	  {{buttonString}}
	</button>
	<br /><br /><br />
	<span id="session"></span>
	<span id="return"></span>
</div>


<!-- Modal -->
<div class="modal fade cielo-modal" id="cieloModal{{instanceid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="exampleModalLabel">{{courseid}} - {{instanceName}}</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div id="modal-return" class="modal-body">
	  	<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#CREDIT_CARD" aria-controls="CREDIT_CARD">Cartão de Crédito</a></li>
	{{#enrolboleto}}
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#BOLETO" aria-controls="BOLETO">Boleto</a></li>
	{{/enrolboleto}}
</ul>
<div class="tab-content">
	<div id="CREDIT_CARD" class="tab-pane fade show active" role="tabpanel" aria-labelledby="CREDIT_CARD" >
		<form id="cielo_cc_form" action="cielo/tr_process.php" method="POST">
			<br />
			<div class="form-group">
				<div class="col-xs-12 col-xl-12 error ccBrand-error"></div>
		        <input id="ccbrandvisa" type="radio" name="ccbrand" value="Visa">
		        <label  for="ccbrandvisa">Visa</label>
		        <input id="ccbrandmastercard" type="radio" name="ccbrand" value="Master">
		        <label  for="ccbrandmastercard">Master Card</label>
		        <input id="ccbrandamericanexpress" type="radio" name="ccbrand" value="Amex">
		        <label  for="ccbrandamericanexpress">American Express</label>
		        <input id="ccbrandelo" type="radio" name="ccbrand" value="Elo">
		        <label  for="ccbrandelo">Elo</label>
		        <input id="ccbrandaura" type="radio" name="ccbrand" value="Aura">
		        <label  for="ccbrandaura">Aura</label>
		        <input id="ccbrandjcb" type="radio" name="ccbrand" value="JCB">
		        <label  for="ccbrandjcb">JCB</label>
		        <input id="ccbranddiners" type="radio" name="ccbrand" value="Diners">
		        <label  for="ccbranddiners">Diners Club</label>
		        <input id="ccbranddiscover" type="radio" name="ccbrand" value="Discover">
		        <label  for="ccbranddiscover">Discover</label>
		        <input id="ccbrandhipercard" type="radio" name="ccbrand" value="Hipercard">
		        <label  for="ccbrandhipercard">Hipercard</label>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-xl-12 error ccName-error"></div>
				<label  for="ccholdername">Nome no Cartão:</label>
				<input id="ccName" class="ccName form-control" type="text" name="ccholdername" value="{{fullname}}"  />
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-xl-12 error" id="cpf-error"></div>
				<label  for="cpf">CPF:</label>
				<input id="cpf" class="form-control input-cpfcnpj" type="text" name="cpf" value="{{cpf}}"  />
			</div>
			<div class="form-group">
			    <div class="col-xs-12 col-xl-12 error ccNumber-error"></div>
				<label for="ccnumber">Número Cartão</label>
				<input id="ccNumber" class="ccNumber form-control input-ccnumber" type="text" name="ccnumber" />
				<span id="cardbrand"></span>
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error ccvalid-error" ></div>
				<div class="col-xs-12 col-xl-12 error cvv-error" ></div>
				<label class="col-sm-2 col-form-label" for="ccvalid">Validade:</label>
				<div class="col-sm-4">
					<input id="ccvalid" class="ccvalid form-control input-ccvalid" type="text" name="ccvalid" />
				</div>
				<label class="col-sm-2 col-form-label" for="cvv">CVV:</label>
				<div class="col-sm-4">
					<input id="cvv" class="cvv form-control input-cvv" type="text" name="cvv" />
				</div>
			</div>
			<div id="card-installments" class="form-group">
			    <label class="col-sm-2 col-form-label" for="ccinstallments">Parcelas:</label>
				<div class="col-sm-4">
					<select id="ccinstallments" class="form-control" type="text" name="ccinstallments" >
					    {{#installments}}<option value="{{value}}">{{text}}</option>{{/installments}}
					</select>
				</div>
				
			</div>
			<hr />
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error billingpostcode-error"></div>
				<div class="col-xs-12 col-xl-12 error billingnumber-error" ></div>
				<label class="col-sm-2 col-form-label">CEP:</label>
				<div class="col-sm-6">
					<input class="form-control input-cep" type="text" name="cep" id="billingpostcode" value={{cep}} />
				</div>
				<label class="col-sm-2 col-form-label">Número:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="numero" value={{numero}} />
				</div>
			</div>
			<div class="form-group row">
			    <div class="col-xs-12 col-xl-12 error billingstreet-error"></div>
				<label class="col-sm-2 col-form-label">Logradouro:</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" name="logradouro" id="billingstreet" value={{logradouro}} />
				</div>
				
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error billingstate-error"></div>
				<label class="col-sm-1 col-form-label">UF:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="uf" id="billingstate" value={{uf}}/>
				</div>
				<label class="col-sm-3 col-form-label">Complemento:</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="complemento" id="billingcomplement" value={{complemento}} />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error billingdistrict-error"></div>
				<div class="col-xs-12 col-xl-12 error billingcity-error"></div>
				<label class="col-sm-2 col-form-label">Bairro:</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="bairro" id="billingdistrict" value={{bairro}}/>
				</div>
				<label class="col-sm-2 col-form-label">Cidade:</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="cidade" id="billingcity" value={{cidade}}/>
				</div>
			</div>
			<br />
			<hr />
			<br />
			<div class="form-group row">
				<span class="btn btn-primary" id="cc_cielo_submit" type="submit"> Pagar </span>
			</div>

			<input type="hidden" name="pay_method" value="cc">
			<input type="hidden" name="courseid" id="cc_courseid" value="">
			<input type="hidden" name="instanceid" id="cc_instanceid" value="{{instanceid}}">
			<input type="hidden" name="cc_couponcode" id="cc_couponcode" value="{{couponcode}}">
		</form>
		
	</div>
	{{#enrolboleto}}
	<div id="BOLETO" class="tab-pane fade" role="tabpanel" aria-labelledby="BOLETO" >
		<form id="cielo_boleto_form" action="cielo/tr_process.php" method="POST">
			<br />
			<br />
			<div class="form-group">
				<div class="col-xs-12 col-xl-12 error" id="boleto_nome-error"></div>
				<label for="sendername">Nome Completo:</label>
				<input placeholder="Nome completo" id="boleto_nome" class="form-control" type="text" name="sendername" value="{{fullname}}" />
			</div>
<!--			<div class="form-group row">-->
<!--				<div class="col-xs-12 col-xl-12 error" id="boleto_email-error"></div>-->
<!--				<label class="col-sm-2 col-form-label" for="senderemail">Email:</label>-->
<!--				<div class="col-sm-10">-->
<!--					<input placeholder="Email" id="boleto_email" class="form-control" type="email" name="senderemail" value="{{email}}" />-->
<!--				</div>-->
<!--			</div>-->
			<div class="form-group row">
<!--				<div class="col-xs-12 col-xl-12 error" id="boleto_phone-error"></div>-->
				<div class="col-xs-12 col-xl-12 error" id="boleto_doc-error"></div>
<!--				<label class="col-sm-2 col-form-label" for="senderphonenumber">Telefone:</label>-->
<!--				<div class="col-sm-4">-->
<!--					<input placeholder="(00) 9999-9999" id="boleto_phone" class="form-control input-phone" type="text" name="senderphonenumber" />-->
<!--				</div>-->
				<label class="col-sm-2 col-form-label" for="cpf">CPF:</label>
				<div class="col-sm-10">
					<input placeholder="000.000.000-00" id="boleto_doc" class="form-control input-cpfcnpj" type="text" name="cpf" />
				</div>
			</div>
			<hr />
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error" id="billingpostcode-error"></div>
				<div class="col-xs-12 col-xl-12 error" id="billingnumber-error"></div>
				<label class="col-sm-2 col-form-label">CEP:</label>
				<div class="col-sm-6">
					<input class="form-control input-cep" type="text" name="cep" id="boletocep" value={{cep}} />
				</div>
				<label class="col-sm-2 col-form-label">Número:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="numero" value={{numero}} />
				</div>
			</div>
			<div class="form-group row">
			    <div class="col-xs-12 col-xl-12 error" id="billingstreet-error"></div>
				<label class="col-sm-2 col-form-label">Logradouro:</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" name="logradouro" id="boletologradouro" value={{logradouro}} />
				</div>
				
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error" id="billingstate-error"></div>
				<label class="col-sm-1 col-form-label">UF:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" name="uf" id="boletouf" value={{uf}}/>
				</div>
				<label class="col-sm-3 col-form-label">Complemento:</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="complemento" id="boletocomplemento" value={{complemento}} />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-12 col-xl-12 error" id="billingdistrict-error"></div>
				<div class="col-xs-12 col-xl-12 error" id="billingcity-error"></div>
				<label class="col-sm-2 col-form-label">Bairro:</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="bairro" id="boletobairro" value={{bairro}}/>
				</div>
				<label class="col-sm-2 col-form-label">Cidade:</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="cidade" id="boletocidade" value={{cidade}}/>
				</div>
			</div>
			<br />
			<hr />
			<div class="form-group row">
				<button id="boleto_cielo_submit" class="btn btn-primary" type="submit">Pagar</button>
			</div>
			<input type="hidden" name="pay_method" value="boleto">
			<input type="hidden" name="sender_hash" value="">
			<input type="hidden" name="boleto_couponcode" id="boleto_couponcode" value="{{couponcode}}">
			<input id="boleto_courseid" type="hidden" name="courseid" value="">
			<input type="hidden" name="instanceid" id="boleto_instanceid" value="{{instanceid}}">
		</form>
	</div>
	{{/enrolboleto}}
</div>
	  </div>
<!--  <div class="modal-footer">
//		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
//		<button type="button" class="btn btn-primary">Save changes</button>
//	  </div> -->
	</div>
  </div>
</div>
